# SPDX-FileCopyrightText: OpenTalk GmbH <mail@opentalk.eu>
#
# SPDX-License-Identifier: EUPL-1.2

#tsconfig.json will be created automaticly based on enviorment from
#tsconfig.hot.json and tsconfig.dev.json

tsconfig.json
hotReload/components.tsconfig.json